*{
    text-align: center;
    font-family: "News Cycle", sans-serif;
}

h1, h2, h3, h4, h5, h6, button {
    padding: 5px;
    color: white;
}

button {
    background-color: gray;
}

#container {
    height: 400px;
    width: 400px;
    margin: auto;
    padding: 10px;
    font-size: 0;
    border: 1px solid black;

}

.unit {
    background-color: whitesmoke;
    display:inline-block;
    font-size: 0;
    opacity: 1;
}

.unit:hover {
    background-color: darkslateblue;
}